@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
    padding: 300;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("img-clock.jpg");
    background-repeat: repeat-x repeat-y;
    background-size: 12em;
    position: relative;
    padding-bottom: 1600px;
    

}


.main { 
    background: rgb(162, 177, 184);
    width: auto;
    margin: 800px auto;
    height: auto;
    position: relative;
    padding: 20px;
    top: -650px;
    
    
}

.badge {
    width: 128px;
    background: #5c5cf1;
    color: white;
    padding: 5px 10px;
    font-family: Orbitron;
    font-weight: bold;
    position: absolute;
    top: -500px;
    left: 40%;
    
}

.clock {
    background: rgb(235, 235, 235);
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 35px;
    font-family: Orbitron;
    border-radius: 4px;
    
}